
@{
    Layout = null;
}

<br />
<h1 style="border-bottom:3px solid gray; padding-bottom:15px;">Change Password</h1>
<br />
<form class="border needs-validation" novalidate>
    <div class="form-group">
        <label class="d-none d-md-block" for="txtPassword">Current Password</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="material-icons">security</i></div>
            </div>
            <input type="password" class="form-control form-control-lg" id="txtCurrentPassword" placeholder="Enter your current password" required>
            <div class="invalid-feedback">
                Please input your current password.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="d-none d-md-block" for="txtPassword">Password</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="material-icons">security</i></div>
            </div>
            <input type="password" class="form-control form-control-lg" id="txtPassword" placeholder="Enter a new password" required>
            <div class="invalid-feedback">
                Please input a password.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="d-none d-md-block" for="txtPasswordConfirm">Confirm your Password</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="material-icons">confirmation_number</i></div>
            </div>
            <input type="password" class="form-control form-control-lg" id="txtPasswordConfirm" placeholder="Confirm your new password" required>
            <div class="invalid-feedback">
                Please input the password confirmation.
            </div>
        </div>
    </div>
    <div class="text-right" style="width:100%;">
        <button class="btn btn-outline-primary btn-lg" onclick="UpdateUser()">Save Changes</button>
    </div>
</form>
<br />
